<div style="text-align: center;" >
<h1 style="margin-top: 0.2em; margin-bottom: 0.1em;">SMDA-Project</h1>
<h4 style="margin-top: 0.7em; margin-bottom: 0.3em; font-style:italic">


Forecasting the UEFA EURO 2024: Comparing 
FIFA23 and LLM Simulations.

</div>
<br>
The objective of this research is to utilize data from the video game FIFA23 to forecast the winner of the 2024 UEFA European Championship. Additionally, several large language models (LLMs) were consulted for their evaluations of the competition and potential champions. These LLMs generated a performance score for each nation, indicative of team strength. To ensure impartiality, these scores were gathered before the tournament's commencement. Similarly, FIFA23 was used to derive performance scores. Utilizing these scores, multiple simulations of the tournament bracket were conducted to estimate each nation's likelihood of victory.

## Import Libraries

In [27]:
#Import necessary libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

## Import Data from FIFA

Kaggle offers an open-source dataset for the video game FIFA 23, which includes various team data. The dataset is available at the following link:

https://www.kaggle.com/datasets/stefanoleone992/fifa-23-complete-player-dataset?resource=download&select=male_teams.csv

In [28]:
#Load team data from local .csv file
team_data = pd.read_csv("data/male_teams.csv")

C:\Users\Jannik Wirtheim\AppData\Local\Temp\ipykernel_13964\501800171.py:2: DtypeWarning: Columns (32,38,39,40,41,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  team_data = pd.read_csv("data/male_teams.csv")

Each country appears several times in the data set. The latest team data is used for the analysis. For Switzerland and Slovenia, the latest data is from 2021-09-25.

In [29]:
#Example of Team and Last Update
print(f"Team: {team_data['team_name'][0]}, Last Update: {team_data['fifa_update_date'][0]}")

Team: Manchester City, Last Update: 2023-01-13

In [30]:
#Get the actual FIFA data from different countries
#Slovenia & Switzerland have older data from older FIFA versions (last update 2021-09-25)

#Filter the team data for Switzerland with the last update on 2021-09-25
swiss = team_data[(team_data["team_name"] == "Switzerland") &
                  (team_data["fifa_update_date"] == "2021-09-25")]

#Filter the team data for Slovenia with the last update on 2021-09-25
slovenia = team_data[(team_data["team_name"] == "Slovenia") &
                     (team_data["fifa_update_date"] == "2021-09-25")]

#Filter the team data for Friendly International league with the last update on 2023-01-13
uefa_nations = team_data[(team_data["league_name"] == "Friendly International") &
                         (team_data["fifa_update_date"] == "2023-01-13")]

#Concatenate the data for Friendly International league with the data for Switzerland and Slovenia
uefa_nations = pd.concat([uefa_nations, swiss, slovenia])

#Rename the "team_name" column to "Team"
uefa_nations = uefa_nations.rename(columns={"team_name": "Team"})

#Display the first few rows of the resulting dataframe
uefa_nations.head()

,team_id,team_url,fifa_version,fifa_update,fifa_update_date,Team,league_id,league_name,league_level,nationality_id,...,off_corners,off_free_kicks,build_up_play_speed,build_up_play_dribbling,build_up_play_passing,build_up_play_positioning,chance_creation_passing,chance_creation_crossing,chance_creation_shooting,chance_creation_positioning
3,1337,/team/1337/germany/230009,23,9,2023-01-13,Germany,78,Friendly International,NaN,21,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1318,/team/1318/england/230009,23,9,2023-01-13,England,78,Friendly International,NaN,14,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1335,/team/1335/france/230009,23,9,2023-01-13,France,78,Friendly International,NaN,18,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1343,/team/1343/italy/230009,23,9,2023-01-13,Italy,78,Friendly International,NaN,27,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1354,/team/1354/portugal/230009,23,9,2023-01-13,Portugal,78,Friendly International,NaN,38,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Scrape data from transfermarkt.de

To obtain current metrics about each team, it is necessary to scrape data from the football platform transfermarkt.de. This data includes statistics such as market values or average age.

https://www.transfermarkt.com/europameisterschaft-2024/teilnehmer/pokalwettbewerb/EM24/saison_id/2023

In [31]:
#Fetch the page
url = "https://www.transfermarkt.com/europameisterschaft-2024/teilnehmer/pokalwettbewerb/EM24/saison_id/2023"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}
response = requests.get(url, headers=headers)

#Parse the HTML
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table", {"class": "items"})

#Prepare to collect data
data = []

#Extract data from each row in the table, skipping the header row
rows = table.find_all("tr")
for row in rows[1:]:  # Skipping the header row
    cols = row.find_all("td")
    team_info = {
        "Team": cols[1].text.strip(),
        "Squad Size": cols[2].text.strip(),
        "Average Age": cols[3].text.strip(),
        "EURO Participations": cols[4].text.strip(),
        "Foreigners Percent": cols[5].text.strip(),
        "Market Value Total": cols[6].text.strip(),
        "Average Market Value": cols[7].text.strip()
    }
    data.append(team_info)

#Convert to DataFrame
transfermarkt = pd.DataFrame(data)
transfermarkt.head()

,Team,Squad Size,Average Age,EURO Participations,Foreigners Percent,Market Value Total,Average Market Value
0,England,26,26.3,11,7.7 %,€1.52bn,€58.46m
1,France,24,26.6,11,75.0 %,€1.23bn,€51.29m
2,Portugal,25,26.6,9,84.0 %,€1.06bn,€42.56m
3,Spain,26,27.3,12,34.6 %,€1.04bn,€39.83m
4,Germany,24,28.3,14,20.8 %,€823.00m,€34.29m

In [32]:
#Function to convert market values
def convert_market_value(value):
    """
    Convert a market value string to an integer.

    Parameters:
    value (str): The market value string to convert. It is expected to be in the format '€Xbn', '€Xm', or '€X'.

    Returns:
    int: The market value as an integer in euros.
    """
    value = value.replace("€", "")
    if "bn" in value:
        value = value.replace("bn", "")
        return int(float(value) * 1e9)
    elif "m" in value:
        value = value.replace("m", "")
        return int(float(value) * 1e6)
    else:
        return int(float(value))

#Convert the columns
transfermarkt["Market Value Total"] = transfermarkt["Market Value Total"].apply(convert_market_value)
transfermarkt["Average Market Value"] = transfermarkt["Average Market Value"].apply(convert_market_value)

#Display the dataframe
transfermarkt.head()

,Team,Squad Size,Average Age,EURO Participations,Foreigners Percent,Market Value Total,Average Market Value
0,England,26,26.3,11,7.7 %,1520000000,58460000
1,France,24,26.6,11,75.0 %,1230000000,51290000
2,Portugal,25,26.6,9,84.0 %,1060000000,42560000
3,Spain,26,27.3,12,34.6 %,1040000000,39830000
4,Germany,24,28.3,14,20.8 %,823000000,34290000

## Merging datasets to calculate the performance scores

In the next section, we merge the two data sets in order to have all relevant metrics in one dataset and calculate the performance score. It is important to note that not all participating countries are available in the FIFA23 dataset. The missing countries were identified accordingly and a suitable score was determined using the relative market value.

In [33]:
#Merge FIFA and Transfermarkt data
em_data = pd.merge(uefa_nations, transfermarkt, on = "Team")

#Drop columns with NA
em_data = em_data.dropna(axis="columns", how="all")

In [34]:
#Take columns which are relevant to calculate the performance score for each country
performance_data = em_data[["overall", "attack", "midfield", "defence", 
        "international_prestige", "short_free_kick", "long_free_kick",
        "left_short_free_kick", "right_short_free_kick", "penalties",
        "left_corner", "right_corner"]]

#Convert them as integer
performance_data = performance_data.astype(int)

#Normalize the selected columns
performance_data = performance_data.apply(lambda x: (x - x.min()) / (x.max() - x.min()), axis=0)

#Calcualte the related performance score for each country
performance_data["Score"] = performance_data.sum(axis=1) / 12 #Column Count

In [35]:
#Keep only relevant columns
em_data = em_data[["Team", "Market Value Total", "Average Market Value"]]
em_data["Score"] = performance_data["Score"]
em_data.head()

       Team  Market Value Total  Average Market Value     Score
0   Germany           823000000              34290000  0.785059
1   England          1520000000              58460000  0.864526
2    France          1230000000              51290000  0.754616
3     Italy           725500000              27900000  0.759933
4  Portugal          1060000000              42560000  0.437928

In [36]:
#Find teams that are in the transfermarkt data but not in the em_data
not_in_em_data_teams = transfermarkt[~transfermarkt["Team"].isin(em_data["Team"])]

#Calculate the mean performance score from performance_data
performance_mean = performance_data["Score"].mean()

#Calculate the mean market value total from transfermarkt data
market_value_mean = transfermarkt["Market Value Total"].mean()

#Estimate the performance score for teams not in em_data based on their market value
not_in_em_data_teams["Score"] = performance_mean * (not_in_em_data_teams["Market Value Total"] / market_value_mean)

#Select relevant columns to display
not_in_em_data_teams = not_in_em_data_teams[["Team", "Market Value Total", "Average Market Value", "Score"]]

#Display the dataframe
not_in_em_data_teams

C:\Users\Jannik Wirtheim\AppData\Local\Temp\ipykernel_13964\3447370337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_in_em_data_teams["Score"] = performance_mean * (not_in_em_data_teams["Market Value Total"] / market_value_mean)

        Team  Market Value Total  Average Market Value     Score
10   Türkiye           352900000              13570000  0.465729
12    Serbia           309900000              12400000  0.408981
18   Georgia           185100000               7120000  0.244280
20  Slovakia           158400000               6090000  0.209043
22   Albania           113100000               4350000  0.149260

In [37]:
#Concatenate the em_data with the not_in_em_data_teams to include all teams
em_data = pd.concat([em_data, not_in_em_data_teams], ignore_index=True)

#Select the relevant columns for team performance
nations_performance = em_data[["Team", "Score"]]

#Rename the "Score" column to "FIFA23_Score"
nations_performance.rename(columns={"Score": "FIFA23_Score"}, inplace=True)

C:\Users\Jannik Wirtheim\AppData\Local\Temp\ipykernel_13964\2643544974.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nations_performance.rename(columns={"Score": "FIFA23_Score"}, inplace=True)

## Getting Predictions from LLMs

With prompt engineering I have generate performance scores using ChatGPT 4, Gemini 1.0 and Llama38B to test the quality of their estimates against each other.

In [38]:
#ChatGPT 4.0 performance scores
chatgpt = {
    "Germany": 0.85,
    "Albania": 0.40,
    "Austria": 0.60,
    "Belgium": 0.75,
    "Croatia": 0.70,
    "Czech Republic": 0.55,
    "Denmark": 0.65,
    "England": 0.90,
    "France": 0.95,
    "Georgia": 0.45,
    "Hungary": 0.50,
    "Italy": 0.80,
    "Netherlands": 0.80,
    "Poland": 0.60,
    "Portugal": 0.85,
    "Romania": 0.50,
    "Scotland": 0.55,
    "Serbia": 0.60,
    "Slovakia": 0.45,
    "Slovenia": 0.50,
    "Spain": 0.90,
    "Switzerland": 0.70,
    "Türkiye": 0.65,
    "Ukraine": 0.55
}

#Creating a DataFrame from the dictionary
chatgpt = pd.DataFrame(list(chatgpt.items()), columns=["Team", "GPT_Score"])

#Merge the nations_performance with the chatgpt data
nations_performance = pd.merge(nations_performance, chatgpt, on = "Team")

In [39]:
#Gemini 1.5 performance scores
gemini = {
    "Germany": 0.8,
    "Albania": 0.4,
    "Austria": 0.5,
    "Belgium": 0.8,
    "Croatia": 0.7,
    "Czech Republic": 0.6,
    "Denmark": 0.6,
    "England": 0.75,
    "France": 0.85,
    "Georgia": 0.3,
    "Hungary": 0.45,
    "Italy": 0.7,
    "Netherlands": 0.7,
    "Poland": 0.6,
    "Portugal": 0.8,
    "Romania": 0.4,
    "Scotland": 0.4,
    "Serbia": 0.6,
    "Slovakia": 0.5,
    "Slovenia": 0.4,
    "Spain": 0.8,
    "Switzerland": 0.6,
    "Türkiye": 0.5,
    "Ukraine": 0.5
}

#Creating a DataFrame from the dictionary
gemini = pd.DataFrame(list(gemini.items()), columns=["Team", "Gemini_Score"])

#Merge the nations_performance with the gemini data
nations_performance = pd.merge(nations_performance, gemini, on = "Team")

In [40]:
#Determine Llama3 performance scores

#Define the API token for authentication
API_TOKEN = "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"

#Define the API URL for the Llama3 model
API_URL = "https://api-inference.huggingface.co/models/meta-llama/Meta-Llama-3-8B-Instruct"

#Set the headers for the API request, including the authorization token
headers = {"Authorization": f"Bearer {API_TOKEN}"}

def query(team):
    """
    Query the Llama3 model to get performance scores for EURO 24 teams.

    Parameters:
    team (str): The name of the team to query the performance score for.

    Returns:
    dict: A dictionary containing the team name and its performance score.
    """
    #Define the payload for the API request with the team name and instructions for SoccerAnalystBot
    payload = {
        "inputs": f"""
        system
        You are now SoccerAnalystBot.
        SoccerAnalystBot provides performance scores for EURO24 participanting countries based on their recent performances, player strength, and overall team capabilities.
        Scores range from 0 (very poor) to 1 (excellent).
        SoccerAnalystBot will be provided with the name of a team and it will always return a performance score for that team.
        SoccerAnalystBot outputs only a dictionary structure with the team name and its performance score in the format: {{'Team': 'TeamName', 'Performance Score': Score}}.
        
        user{team}
        assistant
        """
    }
    #Send the POST request to the API and get the response
    response = requests.post(API_URL, headers=headers, json=payload)
    
    #Return the JSON response from the API
    return response.json()

In [41]:
def extract_performance_score(response):
    """
    Extract the performance score from the API response.

    Parameters:
    response (dict): The JSON response from the Llama3 API.

    Returns:
    dict or None: A dictionary containing the team name and its performance score if found, otherwise None.
    """
    # Define a regex pattern to match the performance score in the response text
    pattern = re.compile(r"\{'Team': \"([^']+)\", 'Performance Score': ([0-9]*\.?[0-9]+)\}")
    
    # Search for the pattern in the generated text of the response
    match = pattern.search(response[0]["generated_text"])
    
    # If a match is found, return a dictionary with the team name and performance score
    if match:
        return {"Team": match.group(1), "Performance Score": float(match.group(2))}

In [42]:
#List of teams for which to query performance scores
teams = ["Germany", "Albania", "Austria", "Belgium", "Croatia", "Czechia", "Denmark", "England", "France", "Georgia", "Hungary", "Italy", "Netherlands", "Poland", "Portugal", "Romania", "Scotland", "Serbia", "Slovakia", "Slovenia", "Spain", "Switzerland", "Türkiye", "Ukraine"]

#Dictionary to store the results
results = {}

#Iterate over each team to query and extract performance scores
for team in teams:
    response = query(team)
    extracted_score = extract_performance_score(response)
    if extracted_score:
        results[team] = extracted_score
    else:
        print(f"Failed to extract score for {team}")

#Display the results
results

Failed to extract score for Germany
Failed to extract score for Albania
Failed to extract score for Austria
Failed to extract score for Belgium
Failed to extract score for Croatia
Failed to extract score for Czechia
Failed to extract score for Denmark
Failed to extract score for England
Failed to extract score for France
Failed to extract score for Georgia
Failed to extract score for Hungary
Failed to extract score for Italy
Failed to extract score for Netherlands
Failed to extract score for Poland
Failed to extract score for Portugal
Failed to extract score for Romania
Failed to extract score for Scotland
Failed to extract score for Serbia
Failed to extract score for Slovakia
Failed to extract score for Slovenia
Failed to extract score for Spain
Failed to extract score for Switzerland
Failed to extract score for Türkiye
Failed to extract score for Ukraine

{}

Llama3 produced results inconsistently. Often, no values were returned for certain countries, but rerunning the query would sometimes succeed. Since I didn't get a complete set of results in a single run, I had to compile them manually.

HINT: Running the code now 2 weeks later doesn't output any score anymore. I don't want to change the payload to keep the code as it was early where it worked... :(

In [43]:
#Initialize a dictionary with performance scores for different teams
llama3 = {
    "Germany": {"Team": "Germany", "Performance Score": 0.85},
    "Albania": {"Team": "Albania", "Performance Score": 0.35},
    "Austria": {"Team": "Austria", "Performance Score": 0.42},
    "Belgium": {"Team": "Belgium", "Performance Score": 0.82},
    "Croatia": {"Team": "Croatia", "Performance Score": 0.62},
    "Czech Republic": {"Team": "Czech Republic", "Performance Score": 0.6},
    "Denmark": {"Team": "Denmark", "Performance Score": 0.72},
    "England": {"Team": "England", "Performance Score": 0.86},
    "France": {"Team": "France", "Performance Score": 0.85},
    "Georgia": {"Team": "Georgia", "Performance Score": 0.55},
    "Hungary": {"Team": "Hungary", "Performance Score": 0.45},
    "Italy": {"Team": "Italy", "Performance Score": 0.82},
    "Netherlands": {"Team": "Netherlands", "Performance Score": 0.73},
    "Poland": {"Team": "Poland", "Performance Score": 0.52},
    "Portugal": {"Team": "Portugal", "Performance Score": 0.81},
    "Romania": {"Team": "Romania", "Performance Score": 0.575},
    "Scotland": {"Team": "Scotland", "Performance Score": 0.55},
    "Serbia": {"Team": "Serbia", "Performance Score": 0.65},
    "Slovakia": {"Team": "Slovakia", "Performance Score": 0.45},
    "Slovenia": {"Team": "Slovenia", "Performance Score": 0.23},
    "Spain": {"Team": "Spain", "Performance Score": 0.85},
    "Switzerland": {"Team": "Switzerland", "Performance Score": 0.56},
    "Türkiye": {"Team": "Türkiye", "Performance Score": 0.45},
    "Ukraine": {"Team": "Ukraine", "Performance Score": 0.63}
}

#Initialize an empty dictionary for storing team-performance score pairs
dict_llama3 = {}

#Iterate through the llama3 dictionary
for country, details in llama3.items():
    #Extract the team name and performance score
    team = details["Team"]
    score = details["Performance Score"]
    
    #Add the team-performance score pair to dict_llama3
    dict_llama3[team] = score

#Convert the dictionary to a DataFrame
llama3 = pd.DataFrame(list(dict_llama3.items()), columns=["Team", "Llama3_Score"])

#Merge the nations_performance with the llama3 data
nations_performance = pd.merge(nations_performance, llama3, on = "Team")

In [44]:
nations_performance.to_csv("data/nations_performance.csv", index=False)
nations_performance

              Team  FIFA23_Score  GPT_Score  Gemini_Score  Llama3_Score
0          Germany      0.785059       0.85          0.80         0.850
1          England      0.864526       0.90          0.75         0.860
2           France      0.754616       0.95          0.85         0.850
3            Italy      0.759933       0.80          0.70         0.820
4         Portugal      0.437928       0.85          0.80         0.810
5            Spain      0.883061       0.90          0.80         0.850
6          Belgium      0.667914       0.75          0.80         0.820
7      Netherlands      0.721370       0.80          0.70         0.730
8          Croatia      0.553762       0.70          0.70         0.620
9          Denmark      0.565870       0.65          0.60         0.720
10          Poland      0.554833       0.60          0.60         0.520
11         Austria      0.525343       0.60          0.50         0.420
12  Czech Republic      0.716957       0.55          0.60         0.600
13        Scotland      0.542963       0.55          0.40         0.550
14         Ukraine      0.646123       0.55          0.50         0.630
15         Hungary      0.610426       0.50          0.45         0.450
16         Romania      0.561338       0.50          0.40         0.575
17     Switzerland      0.523292       0.70          0.60         0.560
18        Slovenia      0.428149       0.50          0.40         0.230
19         Türkiye      0.465729       0.65          0.50         0.450
20          Serbia      0.408981       0.60          0.60         0.650
21         Georgia      0.244280       0.45          0.30         0.550
22        Slovakia      0.209043       0.45          0.50         0.450
23         Albania      0.149260       0.40          0.40         0.350